:root {
  --boja-pozadine-tamna: #333;
  --boja-pozadine-svetla: #fff;
  --primarna-boja-teksta-tamna: #222;
  --primarna-boja-teksta-svetla: #fff;
  --boja-linka: rgb(152, 11, 11);
}

@font-face {
  font-family: Roboto;
  src: url(./fontovi/Roboto/Roboto-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: var(--boja-pozadine-tamna);
}

a {
  text-decoration: none;
  color: var(--primarna-boja-teksta-svetla);
}

a:hover {
  color: var(--boja-linka);
}

/* Slideshow container */
.banerKontejner {
  width: 100vw;
  height: 40vh;
  margin: auto;
  z-index: -1;
}

/* Hide the images by default */
.slajdovi {
  display: none;
}

.slajdoviSlika {
  width: 100%;
  height: 97%;
  overflow: hidden;
  object-fit: cover;
}

/* The dots/bullets/indicators */
.crticaIndeks {
  cursor: pointer;
  height: 5px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 5%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.trenutni,
.crticaIndeks:hover {
  background-color: var(--boja-linka);
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .navigacioniMeni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    list-style-type: none;
    background-color: rgba(51, 51, 51, 0.8);
    color: var(--primarna-boja-teksta-svetla);
    font-size: 1.2em;
    height: 6%;
    z-index: 1;
  }

  .navigacioniMeni > h1 {
    margin-right: -25%;
  }

  .navigacioniTekst {
    font-weight: bold;
    text-transform: uppercase;
  }

  .logo,
  .tema {
    width: 50px;
    height: 50px;
  }

  .logo{
    align-self: left;
  }

  .ugasi {
    display: none;
  }

}
.kontaktForma {
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
}

.kontaktForma form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.kontaktForma label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.kontaktForma input,
.kontaktForma textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.kontaktForma input[type="submit"] {
  background-color: var(--boja-linka);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

.kontaktForma input[type="submit"]:hover {
  background-color: var(--boja-linka);
}

.kontaktForma textarea {
  height: 10em;
}

.kontaktForma h2 {
  text-shadow: 0 0 3px #fff;
}

@media screen and (max-width: 600px) {
  #hamburger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    cursor: pointer;
  }

  #hamburger .linija {
    width: 30px;
    margin: 5px auto;
    height: 3px;
    background-color: var(--boja-pozadine-svetla);
  }

  .navigacioniMeni {
    display: flex;
    flex-direction: column;
    align-items: right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style-type: none;
    font-size: 2em;
    height: 100vh;
  }

  .navigacioniTekst {
    display: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    padding-right: 2%;
  }

  .navigacioniLink {
    display: none;
    margin: 0.5em 0;
  }

  .logo,
  .tema {
    display: none;
  }

  #otvorenHamburger {
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 1;
  }

  .ugasi {
    display: none;
    height: 30px;
    width: 30px;
    font-size: 3rem;
    padding-right: 2%;
    color: var(--primarna-boja-teksta-svetla);
  }

  .ugasi:hover {
    cursor: pointer;
  }
}

.sekcijaTekst {
  padding: 20px;
  color: var(--primarna-boja-teksta-svetla);
}

.sekcijaTekst > ul {
  margin-left: 2%;
}

.sekcijaTekst > h1,
h2 {
  margin-bottom: 2%;
}

.sekcijaTekst > p {
  margin-bottom: 2%;
}

.sekcijaTekst > p > a {
  color: var(--boja-linka);
}

.sekcijaProizvodi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proizvodiContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proizvod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.proizvodSlika {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
